<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getName()+', '+person.getYear_birth()}"+>VALUE</p>
<p  th:if="${books.isEmpty()}">Человек пока не взял ни одной книги

<div th:unless="${books.isEmpty()}">

    <hr/>

    <b>Книги:</b>
    <div th:each="book : ${books}">
        <a th:href="@{/books/{book_id}(book_id=${book.getBook_id()})}"
           th:text="${book.getName_book()+','+book.getName_author()+','+book.getYear_written()}">user</a>
    </div>

</div>

<hr/>

<form th:method="GET" th:action="@{/people/{person_id}/edit(person_id=${person.getPerson_id()})}">
    <input type="submit" value="Редактировать"/>
</form>


<form th:method="DELETE" th:action="@{/people/{person_id}(person_id=${person.getPerson_id()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>