<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<p th:text="${book.getName_book()+', '+book.getName_author()+', '+book.getYear_written()}">VALUE</p>


<div th:unless="${personWithBook==null}">

     <p th:text="${'Книга сейчас у: '+personWithBook.getName()}">


    <form th:method="PATCH" th:action="@{/books/{book_id}/take_of(book_id=${book.getBook_id()})}" >

        <input type="submit"  value="Освободить книгу"/>

    </form>


</div>

<div th:if="${personWithBook==null}">

    Эта книга свободна. Кому ее назначить?

    <form th:method="PATCH" th:action="@{/books/{book_id}/add(book_id=${book.getBook_id()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{person_id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getPerson_id()}"
                    th:text="${person.getName()}"></option>
        </select>

        <input type="submit" value="Назначить книгу"/>
    </form>
</div>

<hr/>

<form th:method="GET" th:action="@{/books/{book_id}/edit(book_id=${book.getBook_id()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/books/{book_id}(book_id=${book.getBook_id()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>